@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}
p{
    font-size: larger;
}   
h5{
    font-size: medium;
    margin-left: 10px;
    font-weight: 600;
}
.body{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    background-color: rgb(114, 215, 255);
}

.container{
    margin: 30px 20px;
}

.City{
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    /* background-color: aqua; */
}
::-webkit-scrollbar{
    display: none;
}
.maxmin{
    display: flex;
    justify-content: center;
}
.current{
    display: flex;
    width: 100%;
    text-align: center;
    z-index: 2;
    flex-direction: column;
    align-items: center;
}
#city{
    margin-top:60px ;
    font-size: 36px;
}
.temp{
    font-size: 100px;
    font-weight: 100;
    display: inline-block;
    margin-left: 5%;
}
.hours{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-top:16px;
    z-index: 1;

}
.hour{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.title{
    display: flex;
}
.title > img{
    width: 20px;
    
}
.daily{ 
    margin-top: 16px;
}

.day{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.day > img {
    width: 4em;
}
